<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Weather - OOP</title>

    <style>
        body {
            background: #4b6cb7;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            text-align: center;
            color: whitesmoke;
        }
        #container {
            margin-top:3em;
            display: inline-block;
            align-content: center;
            justify-content: center;
            border: 5px double white;
            font-size: 2em;
            padding:1em;
        }
    </style>
</head>
<body>